:root{
    --body-color:#130c1e;
    --border--color:#380c28;
    --html-text-color: #ffffff;
    --gep:15px;
    --link-color:#e20d2a;
}

html{
    color:var(--html-text-color);
    background-color: var(--border--color);
}

body{
    display:flex;
    flex-direction: column;
    width: 290px;
    min-height:calc(100vh - var(--gep)*2);
    padding: var(--gep);
    background-color: var(--body-color);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.3);
}

a{
    color: var(--link-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover, a:active, a:focus{
    opacity: 0.7;
}

.final:hover, .final:active, .final:focus{
    color: #6e0614;
}

h1, p, ul{
    margin:0;
}

h1, p, ul {margin-bottom:var(--gep)}

h1, p, footer{
    text-align: center;
}

.avatar {
    --avatar-link: 150px;

    display:block;
    object-fit: cover;
    width:var(--avatar-link) ;
    height:var(--avatar-link) ;
    border-radius: 50%;
    border:2px solid var(--link-color);
}

body, .avatar {
    margin:0 auto;
}

ul{
    padding:0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
}

h1{
    margin-top:5px;
    font-size:26px;
    text-transform: uppercase;
}

.link img{
    --pop:30px;

    width:var(--pop) ;
    height:var(--pop) ;
    border-radius: 50%;
    padding: 1px;
    background-color: white;
}



.final{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 35px; 
    background-color: var(--html-text-color);
    padding-bottom: 1px;
    border-radius: 35px;
    border:2px solid var(--link-color);
    font-size:16px;
    font-weight: bold;
    text-transform: uppercase;
}

footer{
    margin-top: auto;
    position:relative;
}

.e1 {
    color:Var(--body-color);
    position:absolute;
    bottom:0;
    right: 0;
    font-size:10px;
}

.e1:hover{
    color:whitesmoke ;
}

.p {
    margin:0;
}


@media screen and (min-width: 440px) {
    body {
        width: 410px;
    }

    .avatar{
        --avatar-size: 200px;

        height: var(--avatar-size);
        width: var(--avatar-size);
    }

    .e1{
        font-size:16px;
    }
}

@media screen and (min-width: 530px) {
    body {
        width: 500px;
    }

    .avatar{
        --avatar-size: 250px;

        height: var(--avatar-size);
        width: var(--avatar-size);
    }

    h1{
        font-size:32px;
    }

    .link img{
        --link-size: 35px;

        width:var(--link-size);
        height: var(--link-size);
    }

    .final{
        height:50px;
        font-size:20px;
    }

    .e1{
        font-size:18px;
    }
    
    .text{
        font-size: 18px;
    }
}